.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* Ensure the ID column fits content */
.mat-column-id {
  width: 1%; /* Make it small enough to fit content, allowing it to grow */
  white-space: nowrap;
}
